.linear-gradient {
  // background: linear-gradient(transparent, rgba(18, 18, 18, 1));
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
  height: 332px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background 1s ease;
  width: 100%;
  z-index: 0;
}

.view-wrapper {
  position: relative;
}
