.table-head {
  position: sticky;
  top: var(--header-height);
  left: 0;
  border-bottom: 1px solid #ffffff1a;
  z-index: 10;
  box-shadow: 0px 10px 13px -10px rgb(37 37 37 / 51%);
  transition: var(--transition);
}

table {
  border-collapse: collapse;

  position: relative;
}

table thead tr th {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

thead th {
  text-align: left;
  font-size: 0.75em;

  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-sidebar);

  &:first-of-type {
    font-size: 1em;
    text-align: center;
  }

  &:last-of-type {
    text-align: center;
    font-size: 1em;
  }
}

th,
td {
  padding: 1rem;
  color: var(--text-sidebar);
}

tbody {
  transform: translateY(10px);
}
