.wrapper {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-base);
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 0px 120px 105px rgba(26, 26, 26, 0.67);

  /* From https://css.glass */
  background: rgba(18, 18, 18, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19px);
  border: 1px solid rgba(18, 18, 18, 0.13);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5rem 3rem;
  gap: 1.5rem;

  h1 {
    padding: 1.5rem 0;
  }

  p {
    color: var(--text-subdued);
    padding-top: 1rem;

    span:last-child {
      padding-left: 0.5rem;
      color: var(--essential-base);
      text-decoration: underline;
    }
  }
}

.logo-img {
  max-width: 130px;
  cursor: pointer;
}

.button {
  width: 80%;
  background-color: #acbc73;

  &:hover {
    background-color: #afc16c;
    transform: scale(1);
  }
}
