:root {
  --btn-font-size: 16px;
  --btn-background-highlight: #f6f6f6;
  --btn-play-background: #1fdf64;
}

.wrapper {
  font-size: var(--btn-font-size);
  display: flex;
  justify-content: center;
  border-radius: 500px;
  min-block-size: 48px;
  -webkit-tap-highlight-color: transparent;
  align-items: center;

  &:hover {
    transform: scale(1.04);
  }
}

.primary {
  padding: 8px 32px;
  font-weight: 600;
  background-color: #ffffff;
  color: #000000;

  &:hover {
    font-weight: 700;
    background-color: var(--btn-background-highlight);
  }
}

.text {
  padding: 8px 0;
  font-weight: 700;

  color: var(--text-subdued) !important;
  cursor: context-menu;

  &:hover {
    font-weight: 800;
    color: var(--text-base) !important;
  }
}

.play {
  background-color: var(--btn-play-background);

  color: var(#000000);
  width: 48px;
  height: 48px;
  border: none;
}
