:root {
  --footer-height: 66px;
}

.wrapper {
  max-height: calc(100vh - var(--footer-height));

  .container {
    height: 100%;
  }
}

.container {
  position: relative;
  background-color: var(--background-base);
  overflow-y: overlay;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--background-base);
}
