:root {
  --column-width: 192px;
}

.custom-wrapper {
  margin-top: 80px !important;
}

.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.top-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.greet,
.title {
  padding-bottom: 1em;
}
