:root {
  --gap: 3rem;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: 20;

  width: 100%;
  height: var(--header-height);
  background-color: transparent;

  // Set up when window scroll
  // background-color: rgba(0, 0, 0, 0.5);
}

.container {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 3rem;

  display: flex;
  justify-content: space-between;
}

.breadcrumbs {
  width: 5%;
  color: var(--text-subdued);
  display: flex;
  justify-content: space-between;
  gap: 1;

  .breadcrumb-btn {
    padding: 0.3rem;
    height: 22px;
    opacity: 1;
    width: 22px;
    border-radius: 50%;
    color: var(--text-base);
  }
}

.path-render {
  width: 30%;
}

.header-buttons {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.btn-actions {
  position: relative;
  display: flex;
  column-gap: var(--gap);
  padding-right: calc(var(--gap) * 1.5);

  &::after {
    content: '';
    position: absolute;
    top: 25%;
    right: 0;
    height: calc(var(--header-height) / 2.5);
    width: 0.5px;
    background-color: #fff;
  }
}

.btn-user {
  display: flex;
  column-gap: var(--gap);
  padding-left: calc(var(--gap) * 1.5);
}
