:root {
  --item-height: 80px;
}

.wrapper {
  display: flex;
  align-items: center;

  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 4px;
  height: var(--item-height);
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);

    .button {
      display: block;
    }
  }
}

.image-container {
  width: var(--item-height);
  height: var(--item-height);

  .image {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.detail {
  font-size: 1.75rem;
  font-weight: 700;
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 16px;
}

.button {
  display: none;

  font-size: 2rem;
  font-weight: 700;
  touch-action: manipulation;
  transition-duration: 33ms;
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  user-select: none;
  transform: translate3d(0px, 0px, 0px);
  min-inline-size: 0px;
}
