.wrapper {
  height: 100%;
  padding: 2rem;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  background-color: var(--background-press);
  color: var(--text-base);
  padding-right: 2.5rem;

  display: flex;
  flex-direction: column;

  &:hover .playlists-container::-webkit-scrollbar {
    display: block;
  }

  .logo {
    min-width: 150px;
    max-width: 165px;
    height: 68px;
    cursor: pointer;

    .logo-img {
      width: 100%;
      object-fit: contain;
    }
  }

  .sidebar-items {
    padding-top: 2rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
}

// MenuItem custom css
.create-playlist,
.liked-songs {
  align-items: center;
  padding: 6px;
  border-radius: 2px;
}

.create-playlist {
  background: var(--text-sidebar);
  color: #000;
}

.liked-songs {
  background: linear-gradient(135deg, #450af5, #c4efd9);
}

.popup-container {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;

  &:hover {
    .btn-anglePopDown {
      opacity: 1;
    }
  }

  .popup-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .btn-anglePopDown {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 500px;
    border-width: 0;
    color: #b3b3b3;
    display: flex;
    height: 24px;
    justify-content: center;
    line-height: 24px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    width: 24px;
    z-index: 1;
    right: 5px;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      transform: scale(1.1);
    }
  }
}

.sidebar-items.playlist-section {
  height: 50%;
  overflow-y: scroll;
}

.playlists-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll !important;
  height: 100%;

  a,
  span {
    cursor: default;
    transition: none;
  }

  a {
    margin-bottom: 0.5rem;
  }

  span {
    padding-left: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-items:nth-child(3) {
  padding-bottom: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid #282828;
}
